.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.history/

#vuese documentation folder
/website

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
