// qua possono essere definite tutte le variabili/styli sass personali che
// verranno automaticamente resi disponibili in ogni componenete di Vue (vedere vue.config.js)
// NB: in questo file non si ha a disposizione BootStrap

// Riscrivo alcune variabili di Bootstrap
$navbar-dark-color: white;
$dropdown-link-hover-bg: #00000012;
$table-border-color: gray;
$input-border-color: #6c757d;
// input un po' più bassi
$input-btn-padding-y: .3rem;
// il padding del bottone non deve seguire quello di input
$btn-padding-y: .35rem;