// custom.scss

// Custom Bootstrap variable overrides go first
@import './myVariables';

// Riscrivo alcune variabili di Bootstrap
$navbar-dark-color: white;
$dropdown-link-hover-bg: #00000012;
$table-border-color: gray;
$input-border-color: #6c757d;
// input un po' più bassi
$input-btn-padding-y: .3rem;
// il padding del bottone non deve seguire quello di input
$btn-padding-y: .35rem;

// Then include the following
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';


// And define any of your custom or additional CSS/SCSS here,
// or via an @import

// menu
.myMenu .nav-item:hover { background-color: darken($info, 15%); border-radius: 5px; }
.dropdown-menu { z-index: 1500; }

// meno padding per le liste
.list-group-item {
    padding: 5px;
}

//tabelle piccole, ancora più piccole
.table-sm td { padding: .1rem; }

// asterisco campi obbligatori
.required-field label::after {
    content: '*';
    color: red;
    position: relative;
    left: 5px;
}

// vue tables riga di intestazione per sprecare meno spazio
.VueTables .row:first-child { 
    position: absolute;
    right: 20px;
 }
.VueTables__columns-dropdown-wrapper .dropdown-menu {
    left: -100%;
}

// etichetta tabella in alto
.myTable caption { 
    caption-side: top;
    color: #3e3838;
 }

 // evidenzio gli id dei beni per l'utente
 .id-bene {
    color: #1698ad !important;
    font-weight: bold;
 }